@model List<string>

@{
    ViewBag.Title = "Index";
}

<h2>Ajout de données dans la base</h2>

@using (Html.BeginForm())
{
<div class="form-group">
    <label for="users">Nombre d'utilisateurs</label>
    <input type="number" class="form-control" id="users" name="utilisateursQte" value="5">

    @*<label for="restaurants">Nombre de restaurants</label>
    <input type="number" class="form-control" id="restaurants" name="restaurantsQte" value="5">

    <label for="produits">Nombre de produits</label>
    <input type="number" class="form-control" id="produits" name="produitsQte" value="10">*@

    <button type="submit" class="btn btn-danger btn-block my-3">Effacer la BDD et ajout des nouvelles données</button>
</div>
    
}

<table class="table table-bordered table-sm table-striped">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr><td>@item</td></tr>
        }
    }
</table>
