.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

a.navbar-brand {
    white-space: normal;
    font-family: 'Yellowtail', cursive;
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}

.navbar {
    max-height: 75px;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-principal {
    color: #fff;
    background-color: #252152;
    border-color: #252152;
}

    .btn-principal:hover {
        color: #fff;
        background-color: #e9a8a6;
        border-color: #e9a8a6;
    }

    .btn-principal:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(233,168,166,.25);
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 75px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Nunito', sans-serif;
}

ul {
    font-family: 'Nunito', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Nunito', sans-serif;
}
/*Backgrounds*/
/*.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}*/


/* Login */

.login-page, .register-page {
    background: #e9ecef;
}

.login-box, .register-box {
    width: 100%;
    max-width: 420px;
    margin: auto;
}

.login-logo a, .register-logo a {
    text-decoration: none;
    color: #86BD24;
    font-size: 2.1rem;
    font-weight: 300;
    margin-bottom: .9rem;
    text-align: center;
}

img.homeTypeCuisine {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

/* Cards */

.card img:hover {
    opacity: 1;
    -webkit-transform-style: preserve-3d;
}

.card .card-body {
    height: 100px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card img {
    height: 330px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card:hover {
    /*transform: scale(1.05);*/
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

/* Cards Produit */

.card-produit:hover img {
    opacity: 1;
}

.card-produit {
    cursor: pointer;
}

.card-produit img {
    transition: opacity .2s ease-in-out;
    opacity: .8;
}

.card.card-produit .card-body {
    height: 200px;
    font-family: 'Nunito', sans-serif;
    background: #fbfafd;
}

.card.card-produit img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.modal.card-produit .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card.card-produit:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}

.card-footer {
    background: #fbfafd;
}

/* Pagination */

.pagination .active .page-link {
    background-color: orange;
    border-color: orange;
}

/* Jumbotron */

.jumbotron {
    position: relative;
    overflow: hidden;
}

    .jumbotron .container {
        position: relative;
        z-index: 2;
        background: rgba(0,0,0,0.2);
        padding: 2rem;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 3px;
    }

.jumbotron-background {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.5;
}

    .jumbotron-background img {
        height: 600px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
    }


img.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.modal-produit {
    width: 680px;
    max-width: 680px;
    height: 400px;
}