@model AfpEat.Models.RestaurantDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Restaurant @Model.Restaurant.Nom</h2>

<div>
    @foreach (var item in Model.Produits)
    {
        <h4>@item.Key</h4>

        <ul>
            @foreach (var produit in item.Value)
            {
                <li>@produit.Nom - @produit.Prix €</li>
            }
        </ul>

        
    }
</div>